// import the CSS framework
@import "foundation";
@import "mixins";
@import "vars";
@import "fonts";
@import "home_screen";

body {
  background: url('/special-delivery.jpg');
}

h1 {

}

// Spacing to the bottom
.space-1{ margin-bottom: emCalc(10px) !important;}
.space-1-5{ margin-bottom: emCalc(15px) !important;}
.space-2{ margin-bottom: emCalc(20px) !important;}
.space-3{ margin-bottom: emCalc(30px) !important;}
.space-4{ margin-bottom: emCalc(40px) !important;}
.space-4-5{ margin-bottom: emCalc(43px) !important;}
.space-5{ margin-bottom: emCalc(50px) !important;}

.top-space-1{ margin-top: emCalc(10px) !important;}
.top-space-2{ margin-top: emCalc(20px) !important;}
.top-space-3{ margin-top: emCalc(30px) !important;}
.top-space-4{ margin-top: emCalc(40px) !important;}
.top-space-5{ margin-top: emCalc(50px) !important;}


// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: $grey;
  padding: 0 15px; }

// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background: $white;
  border-left: 5px solid $dark-green;
  border-right: 5px solid $dark-green;
  min-height: 50em;
  }

header {
  background-color: $grey;
  height: 2em;
  position: static;

  ul {
    float: left;
  }

  a {
    font-size: .9em;
    text-align: left;
  }
}

section {
  @extend .row;
  margin-top: 20px;
  }

//responsive photogrid
.cbp-rfgrid {
    margin: 35px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
 
.cbp-rfgrid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}
 
.cbp-rfgrid li a,
.cbp-rfgrid li a img {
    display: block;
    width: 100%;
    cursor: pointer;
}
 
.cbp-rfgrid li a img {
    max-width: 100%;
}
 
/* Flexbox is used for centering the heading */
.cbp-rfgrid li a div {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
 
.cbp-rfgrid li a:hover div {
    opacity: 1;
}
 
.cbp-rfgrid li a div h3 {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 0 10px;
}
 
/* Example for media query: change number of items per row */
 
@media screen and (max-width: 1190px) {
    .cbp-rfgrid li {
        width: 20%; /* Fallback */
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
    }
}
 
@media screen and (max-width: 945px) {
    .cbp-rfgrid li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}
 
@media screen and (max-width: 660px) {
    .cbp-rfgrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 660px) {
    .cbp-rfgrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 400px) {
    .cbp-rfgrid li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}
 
@media screen and (max-width: 300px) {
    .cbp-rfgrid li {
        width: 100%;
    }
}



